<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="msapplication-TileColor" content="#0f75ff">
    <meta name="theme-color" content="#9d37f6">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <!--Calendar-->
    <link rel="stylesheet" href="~/Calendar/assets/css/style.css">
    <!-- Font Icon -->

    <link href="~/css/site.css" rel="stylesheet" />
    <!-- Title -->
    <title>
        ComputalityiT
    </title>
    <link href="~/assets/fonts/fonts/font-awesome.min.css" rel="stylesheet" />
    <!-- Sidemenu Css -->
    <link href="~/assets/css/sidemenu.css" rel="stylesheet" />

    <!-- Bootstrap Css -->
    <link href="~/assets/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />
    @*<link href="../../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />*@

    <!-- Dashboard Css -->
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link href="~/assets/css/admin-custom.css" rel="stylesheet" />

    <!-- p-scroll bar css-->
    <link href="~/assets/plugins/pscrollbar/pscrollbar.css" rel="stylesheet" />

    <!---Font icons-->
    <link href="~/assets/css/icons.css" rel="stylesheet" />
    <link href="~/assets/plugins/iconfonts/icons.css" rel="stylesheet" />

    <!-- COLOR-SKINS -->
    <link id="theme" rel="stylesheet" type="text/css" media="all" href="~/assets/webslidemenu/color-skins/color1.css" />
    <link href="~/assets/webslidemenu/demo.css" rel="stylesheet" />

    <!-- Title -->
    <title>Calendar</title>
    <link href="~/assets/fonts/fonts/font-awesome.min.css" rel="stylesheet" />

    <!-- Sidemenu Css -->
    <link href="~/assets/css/sidemenu.css" rel="stylesheet" />


    <!-- Bootstrap Css -->
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Dashboard Css -->
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link href="~/assets/css/admin-custom.css" rel="stylesheet" />

    <link href="~/assets/plugins/fullcalendar/fullcalendar.css' rel='stylesheet" />
    <link href="~/assets/plugins/fullcalendar/fullcalendar.print.min.css' rel='stylesheet' media='print" />

    <!-- p-scroll bar css-->
    <link href="~/assets/plugins/pscrollbar/pscrollbar.css" rel="stylesheet" />

    <!---Font icons-->
    <link href="~/assets/css/icons.css" rel="stylesheet" />
    <!-- COLOR-SKINS -->
    <link id="theme" rel="stylesheet" type="text/css" media="all" href="~/assets/webslidemenu/color-skins/color1.css" />
    <link rel="stylesheet" href="~/assets/webslidemenu/demo.css" />



    <!-- Material Design Icons  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Roboto Web Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">

    <!-- App CSS -->
    <link type="text/css" href="~/Profile/assets/css/style.min.css" rel="stylesheet">


    <!-- plugins:css -->
    <link rel="stylesheet" href="~/Index/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Index/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/Index/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/Index/assets/images/favicon.ico" />


</head>

<body class="app sidebar-mini">

    <!--Loader-->
    <div id="global-loader">
        <img src="~/Logo/ComputalityiT - ico.ico" class="loader-img " alt="">
    </div>

    <div class="page">
        <div class="page-main">
            <div class="app-header1 header py-1 d-flex">
                <div class="container-fluid">
                    <div class="d-flex">
                        <div class="header-brand">
                            <img src="~/Logo/ComputalityiT - ico.ico" width="90" height="70" />
                            <a href="#">
                                Computality iT
                            </a>
                        </div>
                        <a aria-label="Hide Sidebar" class="app-sidebar__toggle" data-toggle="sidebar" href="#"></a>
                        <div class="header-navicon">
                            <a href="#" data-toggle="search" class="nav-link d-lg-none navsearch-icon">
                                <i class="fa fa-search"></i>
                            </a>
                        </div>
                        <div class="header-navsearch">
                            <a href="#" class=" "></a>
                            <form class="form-inline mr-auto">
                                <div class="nav-search">
                                    <input type="search" class="form-control header-search" placeholder="Search…" aria-label="Search">
                                    <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                                </div>
                            </form>
                        </div>
                       
                    </div>
                </div>
            </div>
            <!-- Sidebar menu-->
            <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
            <aside class="app-sidebar doc-sidebar">
                <div class="app-sidebar__user clearfix">
                    <div class="dropdown user-pro-body">
                        <div>
                            <img src="~/Logo/ComputalityiT - ico.ico" alt="user-img" class="avatar avatar-lg brround">
                            <a href="editprofile.html" class="profile-img">
                                <span class="fa fa-pencil" aria-hidden="true"></span>
                            </a>
                        </div>
                        <div class="user-info">
                            <h2>C o m p u t a l i t y iT</h2>
                            <span>Control your work</span>
                        </div>
                    </div>
                </div>
                <ul class="side-menu">
                    <li class="slide">
                        <a class="side-menu__item" href="@Url.Action("Index", null, new { area = "Dashboard", controller = "Admin"})"><i class="side-menu__icon typcn typcn-device-desktop"></i><span class="side-menu__label">Home</span><i class="angle fa fa-angle-right"></i></a>
                    </li>

                    <li class="slide">
                        <a class="side-menu__item" href="@Url.Action("Index", null, new { area="User" , controller="StudentCourse" })"><i class="side-menu__icon typcn typcn-device-desktop"></i><span class="side-menu__label">My Course</span><i class="angle fa fa-angle-right"></i></a>
                    </li>


                    <li class="slide">
                        <a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon typcn typcn-briefcase"></i><span class="side-menu__label">My School</span><i class="angle fa fa-angle-right"></i></a>
                        <ul class="slide-menu">
                            <li>
                                <a href="@Url.Action("ZoneIndex", null, new { area = "User", controller = "StudentCourse"})" class="slide-item">My Zone</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", null, new { area = "Dashboard", controller = "Teacher"})" class="slide-item">My Library</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", null, new { area = "Dashboard", controller = "Parent"})" class="slide-item">Photo Gallery</a>
                            </li>
                        </ul>
                    </li>


                    <li class="slide">
                        <a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon typcn typcn-briefcase"></i><span class="side-menu__label">My Days</span><i class="angle fa fa-angle-right"></i></a>
                        <ul class="slide-menu">
                            <li>
                                <a href="@Url.Action("CalendarIndex", null, new { area = "Dashboard", controller = "Admin"})" class="slide-item">Calendar</a>
                            </li>
                            <li>
                                <a href="@Url.Action("TimeTableIndex", null, new { area = "User", controller = "StudentCourse"})" class="slide-item">TimeTable</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", null, new { area = "Dashboard", controller = "Parent"})" class="slide-item">Weekly Plans</a>
                            </li>
                        </ul>
                    </li>

                    <li class="slide">
                        <a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon typcn typcn-briefcase"></i><span class="side-menu__label">Connect</span><i class="angle fa fa-angle-right"></i></a>
                        <ul class="slide-menu">
                            <li>
                                <a href="@Url.Action("AnnounceIndex", null, new { area = "Dashboard", controller = "Admin"})" class="slide-item">Announcements</a>
                            </li>
                        </ul>
                    </li>


                </ul>
                <div class="app-sidebar-footer">
                    <a href="emailservices.html">
                        <span class="fa fa-envelope" aria-hidden="true"></span>
                    </a>
                    <a href="profile.html">
                        <span class="fa fa-user" aria-hidden="true"></span>
                    </a>
                    <a href="editprofile.html">
                        <span class="fa fa-cog" aria-hidden="true"></span>
                    </a>
                    <a href="login.html">
                        <span class="fa fa-sign-in" aria-hidden="true"></span>
                    </a>
                    <a href="chat.html">
                        <span class="fa fa-comment" aria-hidden="true"></span>
                    </a>
                </div>
            </aside>

        </div>
        <div class="container">
            <main role="main">
                @RenderBody()
            </main>
        </div>
    </div>

    <!-- Dashboard Core -->
    <script src="~/Index/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/Index/assets/vendors/chart.js/Chart.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/Index/assets/js/off-canvas.js"></script>
    <script src="~/Index/assets/js/hoverable-collapse.js"></script>
    <script src="~/Index/assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="~/Index/assets/js/dashboard.js"></script>
    <script src="~/Index/assets/js/todolist.js"></script>
    <!-- End custom js for this page -->


    <!-- Back to top -->
    <!-- Dashboard Core -->
    <script src="~/assets/js/vendors/jquery-3.2.1.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.js"></script>
    <script src="~/assets/js/vendors/jquery.sparkline.min.js"></script>
    <script src="~/assets/js/vendors/selectize.min.js"></script>
    <script src="~/assets/js/vendors/circle-progress.min.js"></script>
    <script src="~/assets/plugins/rating/jquery.rating-stars.js"></script>
    <script src="~/assets/plugins/echart/echarts.js"></script>


    @*<script src="../../assets/plugins/bootstrap/js/bootstrap.min.js"></script>*@




    <!-- Fullside-menu Js-->
    <script src="~/assets/plugins/toggle-sidebar/sidemenu.js"></script>

    <!-- Charts Plugin -->

    <script src="~/assets/plugins/chart/Chart.bundle.js"></script>
    <script src="~/assets/plugins/chart/utils.js"></script>

    <!-- Input Mask Plugin -->

    <script src="~/assets/plugins/input-mask/jquery.mask.min.js"></script>


    <!--Morris.js Charts Plugin -->
    <script src="~/assets/plugins/morris/raphael-min.js"></script>
    <script src="~/assets/plugins/morris/morris.js"></script>


    <!-- Index Scripts -->
    <script src="~/assets/js/index2.js"></script>


    <!-- p-scroll bar Js-->
    <script src="~/assets/plugins/pscrollbar/pscrollbar.js"></script>
    <script src="~/assets/plugins/pscrollbar/pscroll.js"></script>


    <!--Counters -->
    <script src="~/assets/plugins/counters/counterup.min.js"></script>
    <script src="~/assets/plugins/counters/waypoints.min.js"></script>








    <script src="~/assets/plugins/fullcalendar/moment.min.js"></script>
    <script src="~/assets/js/vendors/jquery-3.2.1.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/js/vendors/jquery.sparkline.min.js"></script>
    <script src="~/assets/js/vendors/selectize.min.js"></script>
    <script src="~/assets/js/vendors/jquery.tablesorter.min.js"></script>
    <script src="~/assets/js/vendors/circle-progress.min.js"></script>
    <script src="~/assets/plugins/rating/jquery.rating-stars.js"></script>
    <script src="~/assets/plugins/fullcalendar/fullcalendar.min.js"></script>

    <!-- Fullside-menu Js-->
    @*<script src="~/assets/plugins/toggle-sidebar/sidemenu.js"></script>*@




    <!--Counters -->
    <script src="~/assets/plugins/counters/counterup.min.js"></script>
    <script src="~/assets/plugins/counters/waypoints.min.js"></script>


    Custom Js
    <script src="~/assets/js/admin-custom.js"></script>
    <script src="~/assets/js/fullcalendar.js"></script>






    <!-- jQuery -->



    <script src="~/Profile/assets/vendor/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/Profile/assets/vendor/tether.min.js"></script>


    <script src="~/Profile/assets/vendor/bootstrap.min.js"></script>

    <!-- AdminPlus -->
    <script src="~/Profile/assets/vendor/adminplus.js"></script>

    <!-- App JS -->
    <script src="~/Profile/assets/js/main.js"></script>




    <!--Calendar-->
    <script src="~/Calendar/assets/js/util.js"></script>  @*util functions included in the CodyHouse framework*@
    <script src="~/Calendar/assets/js/main.js"></script>

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <!-- Custom Js-->
    @*<script src="~/assets/js/admin-custom.js"></script>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
