<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="msapplication-TileColor" content="#0f75ff">
    <meta name="theme-color" content="#9d37f6">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <!--Calendar-->
    <link rel="stylesheet" href="~/Calendar/assets/css/style.css">
    <!-- Font Icon -->
 
    <link href="~/css/site.css" rel="stylesheet" />
    <!-- Title -->
    <title>
        ComputalityiT
    </title>
    <link href="~/assets/fonts/fonts/font-awesome.min.css" rel="stylesheet" />
    <!-- Sidemenu Css -->
    <link href="~/assets/css/sidemenu.css" rel="stylesheet" />

    <!-- Bootstrap Css -->
    <link href="~/assets/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />
    @*<link href="../../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />*@

    <!-- Dashboard Css -->
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link href="~/assets/css/admin-custom.css" rel="stylesheet" />

    <!-- p-scroll bar css-->
    <link href="~/assets/plugins/pscrollbar/pscrollbar.css" rel="stylesheet" />

    <!---Font icons-->
    <link href="~/assets/css/icons.css" rel="stylesheet" />
    <link href="~/assets/plugins/iconfonts/icons.css" rel="stylesheet" />

    <!-- COLOR-SKINS -->
    <link id="theme" rel="stylesheet" type="text/css" media="all" href="~/assets/webslidemenu/color-skins/color1.css" />
    <link href="~/assets/webslidemenu/demo.css" rel="stylesheet" />

    <!-- Title -->
    <title>Calendar</title>
    <link href="~/assets/fonts/fonts/font-awesome.min.css" rel="stylesheet" />

    <!-- Sidemenu Css -->
    <link href="~/assets/css/sidemenu.css" rel="stylesheet" />


    <!-- Bootstrap Css -->
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Dashboard Css -->
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link href="~/assets/css/admin-custom.css" rel="stylesheet" />

    <link href="~/assets/plugins/fullcalendar/fullcalendar.css' rel='stylesheet" />
    <link href="~/assets/plugins/fullcalendar/fullcalendar.print.min.css' rel='stylesheet' media='print" />

    <!-- p-scroll bar css-->
    <link href="~/assets/plugins/pscrollbar/pscrollbar.css" rel="stylesheet" />

    <!---Font icons-->
    <link href="~/assets/css/icons.css" rel="stylesheet" />
    <!-- COLOR-SKINS -->
    <link id="theme" rel="stylesheet" type="text/css" media="all" href="~/assets/webslidemenu/color-skins/color1.css" />
    <link rel="stylesheet" href="~/assets/webslidemenu/demo.css" />



    <!-- Material Design Icons  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Roboto Web Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">

    <!-- App CSS -->
    <link type="text/css" href="~/Profile/assets/css/style.min.css" rel="stylesheet">

</head>

<body class="app sidebar-mini">

    <!--Loader-->
    <div id="global-loader">
        <img src="~/Logo/ComputalityiT - ico.ico" class="loader-img " alt="">
    </div>

    <div class="page">
        <div class="page-main">
            <div class="app-header1 header py-1 d-flex">
                <div class="container-fluid">
                    <div class="d-flex">
                        <div class="header-brand">
                            <img src="~/Logo/ComputalityiT - ico.ico" width="90" height="70" />
                            <a href="#">
                                Computality iT
                            </a>
                        </div>
                        <a aria-label="Hide Sidebar" class="app-sidebar__toggle" data-toggle="sidebar" href="#"></a>
                        <div class="header-navicon">
                            <a href="#" data-toggle="search" class="nav-link d-lg-none navsearch-icon">
                                <i class="fa fa-search"></i>
                            </a>
                        </div>
                        <div class="header-navsearch">
                            <a href="#" class=" "></a>
                            <form class="form-inline mr-auto">
                                <div class="nav-search">
                                    <input type="search" class="form-control header-search" placeholder="Search…" aria-label="Search">
                                    <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                                </div>
                            </form>
                        </div>
                        <div class="d-flex order-lg-2 ml-auto">
                            <div class="dropdown d-none d-md-flex">
                                <a class="nav-link icon full-screen-link">
                                    <i class="fe fe-maximize-2" id="fullscreen-button"></i>
                                </a>
                            </div>
                            <div class="dropdown d-none d-md-flex country-selector">
                                <a href="#" class="d-flex nav-link leading-none" data-toggle="dropdown">
                                    <img src="~/assets/images/us_flag.jpg" alt="img" class="avatar avatar-xs mr-1 align-self-center">
                                    <div>
                                        <strong class="text-dark">English</strong>
                                    </div>
                                </a>
                                @*<a >C:\Users\adels\source\repos\LMS\LMS\Views\Shared\_LayoutArabic.cshtml</a>*@
                                <div class="language-width dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                    <a href="~/Views/Shared/_LayoutArabic.cshtml" class="dropdown-item d-flex pb-3">

                                        <img src="~/assets/images/2000px-Flag_of_Egypt.svg.png" alt="flag-img" class="avatar  mr-3 align-self-center">
                                        <div>
                                            <strong>Arabic</strong>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="dropdown d-none d-md-flex">
                                <a class="nav-link icon" data-toggle="dropdown">
                                    <i class="fa fa-bell-o"></i>
                                    <span class=" nav-unread badge badge-danger  badge-pill">4</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                    <a href="#" class="dropdown-item text-center">You have 4 notification</a>
                                    <div class="dropdown-divider"></div>
                                    <a href="#" class="dropdown-item d-flex pb-3">
                                        <div class="notifyimg">
                                            <i class="fa fa-envelope-o"></i>
                                        </div>
                                        <div>
                                            <strong>2 new Messages</strong>
                                            <div class="small text-muted">17:50 Pm</div>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex pb-3">
                                        <div class="notifyimg">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <div>
                                            <strong> 1 Event Soon</strong>
                                            <div class="small text-muted">19-10-2019</div>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex pb-3">
                                        <div class="notifyimg">
                                            <i class="fa fa-comment-o"></i>
                                        </div>
                                        <div>
                                            <strong> 3 new Comments</strong>
                                            <div class="small text-muted">05:34 Am</div>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex pb-3">
                                        <div class="notifyimg">
                                            <i class="fa fa-exclamation-triangle"></i>
                                        </div>
                                        <div>
                                            <strong> Application Error</strong>
                                            <div class="small text-muted">13:45 Pm</div>
                                        </div>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a href="#" class="dropdown-item text-center">See all Notification</a>
                                </div>
                            </div>
                            <div class="dropdown d-none d-md-flex">
                                <a class="nav-link icon" data-toggle="dropdown">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class=" nav-unread badge badge-warning  badge-pill">3</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                    <a href="#" class="dropdown-item d-flex pb-3">
                                        <img src="~/assets/images/faces/male/41.jpg" alt="avatar-img" class="avatar brround mr-3 align-self-center">
                                        <div>
                                            <strong>Blake</strong> I've finished it! See you so.......
                                            <div class="small text-muted">30 mins ago</div>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex pb-3">
                                        <img src="~/assets/images/faces/female/1.jpg" alt="avatar-img" class="avatar brround mr-3 align-self-center">
                                        <div>
                                            <strong>Caroline</strong> Just see the my Admin....
                                            <div class="small text-muted">12 mins ago</div>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex pb-3">
                                        <img src="~/assets/images/faces/male/18.jpg" alt="avatar-img" class="avatar brround mr-3 align-self-center">
                                        <div>
                                            <strong>Jonathan</strong> Hi! I'am singer......
                                            <div class="small text-muted">1 hour ago</div>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex pb-3">
                                        <img src="~/assets/images/faces/female/18.jpg" alt="avatar-img" class="avatar brround mr-3 align-self-center">
                                        <div>
                                            <strong>Emily</strong> Just a reminder that you have.....
                                            <div class="small text-muted">45 mins ago</div>
                                        </div>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a href="@Url.Action("Chat", null, new { area = "Dashboard", controller = "Admin"})" class="dropdown-item text-center">View all Messages</a>
                                </div>
                            </div>
                            <div class="dropdown ">
                                <a class="nav-link pr-0 leading-none user-img" data-toggle="dropdown">
                                    <img src="~/Logo/ComputalityiT - ico.ico" alt="profile-img" class="avatar avatar-md brround">
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow ">
                                    <a class="dropdown-item" href="@Url.Action("Detalis", null, new { area = "Dashboard", controller = "Admin"})">
                                        <i class="dropdown-icon icon icon-user"></i> My Profile
                                    </a>

                                    <a class="dropdown-item" href="editprofile.html">
                                        <i class="dropdown-icon  icon icon-settings"></i> Account Settings
                                    </a>
                                    <a class="dropdown-item" href="login.html">
                                        <i class="dropdown-icon icon icon-power"></i> Log out
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sidebar menu-->
            <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
            <aside class="app-sidebar doc-sidebar">
                <div class="app-sidebar__user clearfix">
                    <div class="dropdown user-pro-body">
                        <div>

                            <img src="~/Logo/ComputalityiT - ico.ico" alt="user-img" class="avatar avatar-lg brround">
                            <a href="editprofile.html" class="profile-img">
                                <span class="fa fa-pencil" aria-hidden="true"></span>
                            </a>
                        </div>
                        <div class="user-info">
                            <h2>C o m p u t a l i t y iT</h2>
                            <span>Control your work</span>
                        </div>
                    </div>
                </div>
                <ul class="side-menu">
                    <li class="slide">
                        <a class="side-menu__item" href="@Url.Action("Index", null, new { area = "Dashboard", controller = "Admin"})"><i class="side-menu__icon typcn typcn-device-desktop"></i><span class="side-menu__label">Home</span><i class="angle fa fa-angle-right"></i></a>
                    </li>
                    <li class="slide">
                        <a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon typcn typcn-document-text"></i><span class="side-menu__label">For Admin</span><i class="angle fa fa-angle-right"></i></a>
                        <ul class="slide-menu">
                            <li>
                                <a href="@Url.Action("SectionIndex", null, new { area = "Dashboard", controller = "Admin"})" class="slide-item">Section</a>
                            </li>
                            <li>
                                <a href="@Url.Action("StageIndex", null, new { area = "Dashboard", controller = "Admin"})" class="slide-item">Stage</a>
                            </li>
                            <li>
                                <a href="@Url.Action("LevelIndex", null, new { area = "Dashboard", controller = "Admin"})" class="slide-item">Level</a>
                            </li>
                            <li>
                                <a href="@Url.Action("QuizIndex", null, new { area = "Dashboard", controller = "Quiz"})" class="slide-item">Quiz</a>
                            </li>
                            <li>
                                <a href="@Url.Action("LessonIndex", null, new { area = "Dashboard", controller = "Admin"})" class="slide-item">Lesson</a>
                            </li>
                            <li>
                                <a href="@Url.Action("ChapterIndex", null, new { area = "Dashboard", controller = "Admin"})" class="slide-item">Chapter</a>
                            </li>
                            <li>
                                <a href="@Url.Action("QuestionTypeIndex", null, new { area = "Dashboard", controller = "Question"})" class="slide-item">QuestionType</a>
                            </li>
                            <li>
                                <a href="@Url.Action("EventIndex", null, new { area = "Dashboard", controller = "Admin"})" class="slide-item">Events</a>
                            </li>
                            <li>
                                <a href="@Url.Action("TaskIndex", null, new { area = "Dashboard", controller = "Admin"})" class="slide-item">Tasks</a>
                            </li>
                        </ul>
                    </li>
                    <li class="slide">
                        <a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon typcn typcn-cog-outline"></i><span class="side-menu__label">Administration</span><i class="angle fa fa-angle-right"></i></a>
                        <ul class="slide-menu">
                            <li class="slide">
                                <a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon typcn typcn-cog-outline"></i><span class="side-menu__label">School Structure</span><i class="angle fa fa-angle-right"></i></a>
                                <ul class="slide-menu">
                                    <li><a class="slide-item" href="admin-pricing.html"> School Detalis</a></li>
                                </ul>
                            </li>
                            <li><a class="slide-item" href="@Url.Action("GPA", null, new { area = "Dashboard", controller = "Admin"})">Grading System</a></li>
                            <li><a class="slide-item" href="@Url.Action("PassLimit", null, new { area = "Dashboard", controller = "Admin"})">Time Table</a></li>
                            <li><a class="slide-item" href="email-users.html">Announcements</a></li>
                        </ul>
                    </li>
                    <li class="slide">
                        <a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon typcn typcn-arrow-move-outline"></i><span class="side-menu__label">Attendance</span><i class="angle fa fa-angle-right"></i></a>
                        <ul class="slide-menu">
                            <li>
                                <a href="cards.html" class="slide-item">Automatic</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Attendance", null, new { area = "Dashboard", controller = "Admin"})" class="slide-item">Manual</a>
                            </li>
                        </ul>
                    </li>


                    <li class="slide">
                        <a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon typcn typcn-chart-pie-outline"></i><span class="side-menu__label">Permissions Management</span><i class="angle fa fa-angle-right"></i></a>
                        <ul class="slide-menu">
                            <li>
                                <a href="@Url.Action("Premissions", null, new { area = "Dashboard", controller = "Admin"})" class="slide-item">Permissions </a>
                            </li>
                            <li>
                                <a href="@Url.Action("PremissionsGroups", null, new { area = "Dashboard", controller = "Admin"})" class="slide-item">Permissions Groups</a>
                            </li>
                        </ul>
                    </li>
                    <li class="slide">
                        <a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon typcn typcn-briefcase"></i><span class="side-menu__label"> Focus Insights</span><i class="angle fa fa-angle-right"></i></a>
                        <ul class="slide-menu">
                            <li>
                                <a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon typcn typcn-briefcase"></i><span class="side-menu__label">Users</span><i class="angle fa fa-angle-right"></i></a>
                                <ul class="slide-menu">
                                    <li>
                                        <a href="@Url.Action("Index", null, new { area = "Dashboard", controller = "Student"})" class="slide-item">Students</a>
                                        <a href="@Url.Action("Index", null, new { area = "Dashboard", controller = "Teacher"})" class="slide-item">Teachers</a>
                                        <a href="@Url.Action("Index", null, new { area = "Dashboard", controller = "Parent"})" class="slide-item">Parents</a>
                                        <a href="@Url.Action("HoDs", null, new { area = "Dashboard", controller = "HoDs"})" class="slide-item">HoDs</a>
                                        <a href="@Url.Action("admin", null, new { area = "Dashboard", controller = "Admins"})" class="slide-item">Admin</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="@Url.Action("Course", null, new { area = "Dashboard", controller = "Admin"})" class="slide-item">Courses</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Activity", null, new { area = "Dashboard", controller = "Admin"})" class="slide-item">Activity</a>
                            </li>
                            <li>
                                <a href="@Url.Action("WeeklyPlans", null, new { area = "Dashboard", controller = "Admin"})" class="slide-item">Weekly Plans</a>
                            </li>
                        </ul>
                    </li>
                    <li class="slide">
                        <a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon typcn typcn-document-text"></i><span class="side-menu__label">Tracking</span><i class="angle fa fa-angle-right"></i></a>
                        <ul class="slide-menu">
                            <li>
                                <a href="form-elements.html" class="slide-item">System Logs</a>
                            </li>
                            <li>
                                <a href="form-wizard.html" class="slide-item">Reports</a>
                            </li>
                        </ul>
                    </li>


                    <li class="slide">
                        <a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon typcn typcn-point-of-interest"></i><span class="side-menu__label">Connect</span><i class="angle fa fa-angle-right"></i></a>
                        <ul class="slide-menu">
                            <li>
                                <a href="@Url.Action("Chat", null, new { area = "Dashboard", controller = "Admin"})" class="slide-item">Messages</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Calendar", null, new { area = "Dashboard", controller = "Admin"})" class="slide-item">Calendar</a>
                            </li>
                            <li>
                                <a href="@Url.Action("library", null, new { area = "Dashboard", controller = "Admin"})" class="slide-item">My E-Library</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="app-sidebar-footer">
                    <a href="emailservices.html">
                        <span class="fa fa-envelope" aria-hidden="true"></span>
                    </a>
                    <a href="profile.html">
                        <span class="fa fa-user" aria-hidden="true"></span>
                    </a>
                    <a href="editprofile.html">
                        <span class="fa fa-cog" aria-hidden="true"></span>
                    </a>
                    <a href="login.html">
                        <span class="fa fa-sign-in" aria-hidden="true"></span>
                    </a>
                    <a href="chat.html">
                        <span class="fa fa-comment" aria-hidden="true"></span>
                    </a>
                </div>
            </aside>

        </div>
        <div class="container">
            <main role="main">
                @RenderBody()
            </main>
        </div>
    </div>



    <!-- Back to top -->
    <!-- Dashboard Core -->
    <script src="~/assets/js/vendors/jquery-3.2.1.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.js"></script>
    <script src="~/assets/js/vendors/jquery.sparkline.min.js"></script>
    <script src="~/assets/js/vendors/selectize.min.js"></script>
    <script src="~/assets/js/vendors/circle-progress.min.js"></script>
    <script src="~/assets/plugins/rating/jquery.rating-stars.js"></script>
    <script src="~/assets/plugins/echart/echarts.js"></script>


    @*<script src="../../assets/plugins/bootstrap/js/bootstrap.min.js"></script>*@




    <!-- Fullside-menu Js-->
    <script src="~/assets/plugins/toggle-sidebar/sidemenu.js"></script>

    <!-- Charts Plugin -->

    <script src="~/assets/plugins/chart/Chart.bundle.js"></script>
    <script src="~/assets/plugins/chart/utils.js"></script>

    <!-- Input Mask Plugin -->

    <script src="~/assets/plugins/input-mask/jquery.mask.min.js"></script>


    <!--Morris.js Charts Plugin -->
    <script src="~/assets/plugins/morris/raphael-min.js"></script>
    <script src="~/assets/plugins/morris/morris.js"></script>


    <!-- Index Scripts -->
    <script src="~/assets/js/index2.js"></script>


    <!-- p-scroll bar Js-->
    <script src="~/assets/plugins/pscrollbar/pscrollbar.js"></script>
    <script src="~/assets/plugins/pscrollbar/pscroll.js"></script>


    <!--Counters -->
    <script src="~/assets/plugins/counters/counterup.min.js"></script>
    <script src="~/assets/plugins/counters/waypoints.min.js"></script>








    <script src="~/assets/plugins/fullcalendar/moment.min.js"></script>
    <script src="~/assets/js/vendors/jquery-3.2.1.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/js/vendors/jquery.sparkline.min.js"></script>
    <script src="~/assets/js/vendors/selectize.min.js"></script>
    <script src="~/assets/js/vendors/jquery.tablesorter.min.js"></script>
    <script src="~/assets/js/vendors/circle-progress.min.js"></script>
    <script src="~/assets/plugins/rating/jquery.rating-stars.js"></script>
    <script src="~/assets/plugins/fullcalendar/fullcalendar.min.js"></script>

    <!-- Fullside-menu Js-->
    @*<script src="~/assets/plugins/toggle-sidebar/sidemenu.js"></script>*@




    <!--Counters -->
    <script src="~/assets/plugins/counters/counterup.min.js"></script>
    <script src="~/assets/plugins/counters/waypoints.min.js"></script>


    Custom Js
    <script src="~/assets/js/admin-custom.js"></script>
    <script src="~/assets/js/fullcalendar.js"></script>






    <!-- jQuery -->



    <script src="~/Profile/assets/vendor/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/Profile/assets/vendor/tether.min.js"></script>


    <script src="~/Profile/assets/vendor/bootstrap.min.js"></script>

    <!-- AdminPlus -->
    <script src="~/Profile/assets/vendor/adminplus.js"></script>

    <!-- App JS -->
    <script src="~/Profile/assets/js/main.js"></script>




    <!--Calendar-->
    <script src="~/Calendar/assets/js/util.js"></script>  @*util functions included in the CodyHouse framework*@
    <script src="~/Calendar/assets/js/main.js"></script>

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <!-- Custom Js-->
    @*<script src="~/assets/js/admin-custom.js"></script>*@
   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
