@model LMS.Models.Course

@{
    ViewData["Title"] = "Create";
}

<hr />

<link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

<!-- Main css -->
<link rel="stylesheet" href="~/Register/css/style.css">

<div class="main">
    <div class="container">
        <div class="signup-content">
            <div class="signup-img">
                <img src="~/Register/images/signup-img.jpg" alt="">
            </div>
            <div class="signup-form">
                <form method="post" asp-action="Create" enctype="multipart/form-data" id="register-form">
                    <h2>Course registration form</h2>

                    <div class="form-group">
                        <label for="name">CourseCode :</label>
                        <input type="text" name="CourseCode" id="name" required />
                    </div>
                    <div class="form-group">
                        <label for="name">CourseName :</label>
                        <input type="text" name="CourseName" id="name" required />
                    </div>

                    <div class="form-group">
                        <label class="control-label">Teacher</label>
                        <select asp-for="@Model.TeacherId" asp-items="ViewBag.Teacher" class="form-control" required>
                            <option value="">Select your level</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Student</label>
                        <select asp-for="@Model.StudentId" asp-items="ViewBag.Student" class="form-control" required>
                            <option value="">Select your level</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Section</label>
                        <select asp-for="@Model.Level.Stage.SectionId" id="SectionId" asp-items="ViewBag.Section" class="form-control" required>
                            <option value="">Select your level</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Stage</label>
                        <select asp-for="@Model.Level.StageId" id="StageId" asp-items="ViewBag.Stage" class="form-control" required>
                            <option value="">Select your level</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Level</label>
                        <select asp-for="@Model.LevelId" id="LevelId" asp-items="ViewBag.level" class="form-control" required>
                            <option value="">Select your level</option>
                        </select>
                    </div>


                    <div class="form-submit">
                        <input type="submit" value="Submit Form" class="submit" name="submit" id="submit" />
                        <input type="submit" asp-action="Index" value="Back To List" class="submit" name="reset" id="reset" />
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>





<--!register>></--!register>
<script src="~/Register/vendor/jquery/jquery.min.js"></script>
<script src="~/Register/js/main.js"></script>



<script type="text/javascript">

    $(document).ready(function () {

        getStage();
        getSection();
        $('#SectionId').change(function () {

            getStage();
        });

        $('#StageId').change(function () {
            getSection();
        });
    });


    function getStage() {

        /**/
        var url = '@Url.Content("~/")' + "Dashboard/Student/GetStage";
    /**/
    var ddlsource = '#SectionId';
    $.getJSON(url, { id: $(ddlsource).val() }, function (data) {

        var items = '';
        $("#StageId").empty();
        $.each(data, function (id, Stage) {

            items += "<option value='" + Stage.value + "'>" + Stage.text + "</option>"
        });
        $("#StageId").html(items);
    });
}

function getSection() {

    /**/
    var url = '@Url.Content("~/")' + "Dashboard/Student/GetLevel";
    /**/
    var ddlsource = '#StageId';
    $.getJSON(url, { id: $(ddlsource).val() }, function (data) {

        var items = '';
        $("#LevelId").empty();
        $.each(data, function (id, section) {

            items += "<option value='" + section.value + "'>" + section.text + "</option>"
        });
        $("#LevelId").html(items);
    });
}
</script>




