@model LMS.Models.Teacher
@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<h2>Edit</h2>


<link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

<!-- Main css -->
<link rel="stylesheet" href="~/Register/css/style.css">


<div class="main">
    <div class="container">
        <div class="signup-content">
            <div class="signup-img">
                <img src="@Model.image" alt="">
            </div>
            <div class="signup-form">
                @*<input type="hidden" asp-for="@Model.ID" />
                <input type="hidden" asp-for="@Model.LevelId" />
                <input type="hidden" asp-for="@Model.Level.StageId" />
                <input type="hidden" asp-for="@Model.Level.Stage.SectionId" />*@
                <form method="post" asp-action="Edit" enctype="multipart/form-data" id="register-form">
                    <h2>Parent Details</h2>
                    <div class="form-group">
                        <label for="name">Name :</label>
                        <input asp-for="Name" type="text" name="Name" id="name" required />
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input asp-for="Email" type="email" name="Email" id="email" />
                    </div>

                    <div class="form-group">
                        <label for="address">Address :</label>
                        <input asp-for="Address" type="text" name="Address" id="address" required />
                    </div>

                    <div class="form-group">
                        <label for="address">phone :</label>
                        <input asp-for="phone" type="tel" name="phone" id="address" required />
                    </div>

                    <div class="form-group">
                        <label for="address">Gender :</label>
                        <input asp-for="Gender" type="text" name="Gender" id="address" required />
                    </div>

                    <div class="form-group">
                        <label for="birth_date">DOB :</label>
                        <input asp-for="BirthDay" type="date" name="BirthDay" id="birth_date">
                    </div>

                    <div class="form-group row">
                        <div class="col-2">
                            <label asp-for="image" class="col-form-label"></label>
                        </div>
                        <div class="col-5">
                            <input type="file" name="files" multiple class="form-control" />
                        </div>
                        <span asp-validation-for="image" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="pincode">National Id :</label>
                        <input asp-for="NationalId" type="text" name="NationalId" id="pincode">
                    </div>
                    <div class="form-group">
                        <label for="pincode">status :</label>
                        <input asp-for="status" type="text" name="status" placeholder="Active Or DisActive" id="pincode">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Section</label>
                        <select asp-for="@Model.Level.Stage.SectionId" id="SectionId" asp-items="@ViewBag.Section" class="form-control" required>
                            <option value="">-- Select -- l</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Stage</label>
                        <select asp-for="@Model.Level.StageId" id="StageId" asp-items="@ViewBag.Stage" class="form-control" required>
                            <option value="">-- Select -- l</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Level</label>
                        <select asp-for="@Model.LevelId" id="LevelId" asp-items="@ViewBag.level" class="form-control" required>
                            <option value="">-- Select -- l</option>
                        </select>
                    </div>
                    @*// name="Level"*@
                    <div class="form-submit">
                        <input type="submit" value="Submit Form" class="submit" name="submit" id="submit" />
                        <input type="submit" asp-action="Index" value="Back To List" class="submit" name="reset" id="reset" />
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>



<script src="~/Register/vendor/jquery/jquery.min.js"></script>
<script src="~/Register/js/main.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        //getStage();
        //getSection();
        $('#SectionId').change(function () {
            getStage();
            $("#LevelId").empty();
            var items = "<option value=''> -- Select -- </option>";
            $("#LevelId").append(items);
        });
        $('#StageId').change(function () {
            getSection();
        });
    });


    function getStage() {

        var url = '@Url.Content("~/")' + "Dashboard/Student/GetStage";
        var ddlsource = '#SectionId';
        $("#StageId").empty();
        $("#StageId").val('');
        var items = "<option value=''> -- Select -- </option>";
        $.getJSON(url, { id: $(ddlsource).val() }, function (data) {
            $.each(data, function (id, Stage) {

                items += "<option value='" + Stage.value + "'>" + Stage.text + "</option>"
            });
            $("#StageId").html(items);
        });
    }

      function getSection() {

          var url = '@Url.Content("~/")' + "Dashboard/Student/GetLevel";
          var ddlsource = '#StageId';
          $("#LevelId").empty();
          $("#LevelId").val('');
          var items = "<option value=''> -- Select -- </option>";
        $.getJSON(url, { id: $(ddlsource).val() }, function (data) {

            //var items = '';
            
            $.each(data, function (id, section) {

                items += "<option value='" + section.value + "'>" + section.text + "</option>"
            });
            $("#LevelId").html(items);
        });
    }
</script>








